<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gabrielmoura.ace1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".sneaker_detail">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Sell2RulesActivity" />
        <activity android:name=".Sell3Activity" />
        <activity android:name=".Sell4ObservationsActivity" />
        <activity android:name=".Sell5CameraActivity" />
        <activity android:name=".Sell6ReviewActivity" />
        <activity android:name=".Sell1Activity">

        </activity>
        <activity android:name=".Buy1NovoActivity" />
        <activity android:name=".Buy1UsadoActivity" />
        <activity android:name=".Buy2UsadoActivity" />
    </application>

</manifest>